.venv/
__pycache__/
store_raw_1m/
store_run_records/
store_assets_artifacts/**
!store_assets_artifacts/*/
!store_assets_artifacts/*/*_parameters.json
!store_assets_artifacts/*/*_README.md
!store_assets_artifacts/*/*_feature_set.json
